body{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/57-151106142142.jpg");
    background-size: cover;
}
#container{
    position: relative;
}
#animation{
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fefefe;
}
.page{
    position: relative;
    width: 100%;
    height: 100%;
    color: aliceblue;
    text-align: center;
}
.page-future{
    background-image: url("https://caona-1252709330.cos.ap-chengdu.myqcloud.com/img/57-151106142140-50.webp");
    background-size: cover;
}
.page-forever{
    background-image: url("https://caona-1252709330.cos.ap-chengdu.myqcloud.com/img/341_170106113026_1.webp");
    background-size: cover;
}
.page-sec{
    color: aliceblue;
    background-image: url("https://caona-1252709330.cos.ap-chengdu.myqcloud.com/img/Rainy-day.webp");
    background-size: cover;
}
.page-song{
    background-image: url("https://caona-1252709330.cos.ap-chengdu.myqcloud.com/img/19300001359806132696361265903.webp");
    background-size: cover;
}
.slideYhc{
    background-image: url("https://caona-1252709330.cos.ap-chengdu.myqcloud.com/img/3944590323639952880.webp");
    background-size: cover;
}
.slideVideo{
    background-image: url("https://caona-1252709330.cos.ap-chengdu.myqcloud.com/img/57-151106142140-50.webp");
    background-size: cover;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #eee;
}
.fp-slidesNav.bottom {
    bottom: 4px;
}